/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */


header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
    height: 100%;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

/*css main*/
main{
    width: 90%;
    margin:auto;
    background-color: beige;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.block{
    width: 100%;
    margin-top: 2em;
}

.img-block{
    width: 60%;
    float: left;
}

.text-block{
    margin-top: 1em;
    width: 40%;
    float: left;
    padding: 0 100px;
    font-size: 1.4em;
}

.text-block h1{
    line-height: 1.2em;
}

.beige{
    background-color: beige;
}

.white{
    background-color: white;
}

.block-nofloat{
    text-align: center;
}

.block-nofloat h1{
    margin-bottom: 0.5em;
}

.block-nofloat img{
    height: 450px;
}

.block .relative{
    position: relative;
    margin-top: 3em;
}

.block-nofloat .stars{
    width: 150%;
    height: 150%;
    top: 0%;
    left: -25%;
    position: absolute;
}

.link-dw{
    margin-left: 40%;
}

.link-dw a{
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    display: inline-block;
}

.link-dw a:hover,
.link-dw a:active,
.link-dw a:focus {
    color: #265ee8;
}
/*fine css main*/

/*inizio css footer*/
footer{
    width: 100%;
    margin-top: 3em;
    background-color: rgb(33, 33, 121);
    height: 500px;
}

.container-footer{
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
}

[class*="footer-"]{
    width: calc(100% / 5);
    float: left;
}

.element-footer-contact {
    margin-top: 5em;
    margin-left: 2em;
    width: 100%;
}

.element-footer-contact h1{
    color: cornflowerblue;
    font-size: 2em;
    margin-bottom: 1em;
}


.element-footer-contact img{
    width: 30px;
    height: 20px;
}

.element-footer-contact span{
    color: white;
}

.element-footer-contact div i{
    font-size: 2em;
    margin-top: 1em;
    color: white;
}

.footer-Prodotti ul{
    list-style: none;
    margin-top: 5em;
    margin-left: 2em;
}

.footer-Prodotti li{
    font-size: 1.2em;
}

.footer-Prodotti li a{
    text-decoration: none;
}

li .colored{
    color: cornflowerblue;
}

li .white-a{
    color: white;
}

.footer-Prodotti li a:hover,
.footer-Prodotti li a:active,
.footer-Prodotti li a:focus {
    color: #265ee8;
}

hr{
    width: 85%;
    margin: auto;
}

.footer-logo img{
    margin-top: 2em;
    margin-left: 7em;
}
/*fine footer*/
